
@media (max-width:576px) {
    #foot-img{
    width: 700px;
    padding-left: 40px;
    }
}
@media (max-width:576px) {
    .im1{
    width: 690px;
    padding-left: 40px;
    }
}
@media (max-width:576px) {
    .h11{
    width: 980px;
    padding-left: 40px;
    height: 50px;
   
    }
}
@media (max-width:576px) {
    .bar1{
    width: 690px;
    padding-left: 40px;
    }
}
@media (max-width:576px) {
    .h112{
    width: 900px;
    padding-left: 40px;
    height: 50px;
    }
}
@media (max-width:576px) {
    .h113{
    width: 900px;
    padding-left: 40px;
    height: 50px;
    }
}
@media (max-width:576px) {
    .none1{
    width: 500px;
    padding-left: 50px;
   margin-top: 30px;
    }
}
@media (max-width:316px) {
    .none{
    width: 400px;
    padding-left: 50px;
   margin-top: 30px;
    }
}
@media (max-width:316px) {
    .none1{
    width:400px;
    padding-left: 50px;
   margin-top: 30px;
    }
}
@media (max-width:576px) {
    .none{
    width: 500px;
    padding-left: 50px;
    
    }
}

@media (max-width:576px) {
    #ppp{
    width: 10px;
    padding-left: 40px;
    }
}
@media (max-width:576px) {
    .bb1{
    width: 500px;
    padding-left: 40px;
    }
}
@media (max-width:576px) {
    .bb2{
    width: 400px;
    padding-left: 40px;
    margin-top: 50px;
    }
}
@media (max-width:291px) {
    .none1{
    width: 280px;
    padding-left: 50px;
   margin-top: 30px;
    }
}
@media (max-width:291px) {
    .bb1{
    width: 290px;
    padding-left: 50px;
   margin-top: 30px;
    }
}
@media (max-width:291px) {
    .bb2{
    width: 290px;
    padding-left: 50px;
   margin-top: 30px;
    }
}
@media (max-width:291px) {
    .ppp{
    width: 490px;
    padding-left: 50px;
   margin-top: 30px;
    }
}
@media (max-width:291px) {
    .none{
    width: 270px;
    padding-left: 50px;
   margin-top: 30px;
    }
}
@media (max-width:291px) {
    .h113{
    width: 590px;

   margin-top: 30px;
    }
}
@media (max-width:291px) {
    .h112{
    width: 590px;
    padding-left: 100px;
   margin-top: 30px;
    }
}
@media (max-width:291px) {
    .h11{
    width: 590px;
    padding-left: 100px;
   margin-top: 30px;
    }
}
@media (max-width:291px) {
    .im1{
    width: 380px;
    padding-left: 80px;
   margin-top: 30px;
    }
}
@media (max-width:291px) {
    .bar1{
    width: 380px;
    padding-left: 80px;
   margin-top: 30px;
    }
}
@media (max-width:291px) {
    #foot-img{
    width: 380px;
    padding-left: 80px;
   margin-top: 30px;
    }
}